.user-page-container {
  width: 100%;
  min-height: 100vh; /* en az ekran yüksekliği */
  display: flex;
  justify-content: flex-start; /* içeriğin baştan başlamasını sağlar */
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  box-sizing: border-box;
}

.search-container {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.search-input,
.category-select {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #555;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #2a2a2a;
  color: #fff;
}

.search-input:focus,
.category-select:focus {
  border-color: #fff;
}

.user-page-container table {
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
  background-color: #2a2a2a;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.user-page-container tr:nth-child(even) {
  background-color: #383838;
}

.user-page-container tr:nth-child(odd) {
  background-color: #2a2a2a;
}

.user-page-container th,
.user-page-container td {
  padding: 10px;
  color: #fff;
  text-align: left;
  border-bottom: 1px solid #fff;
}

.user-page-container .edit-button {
  background-color: #1f1f1f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.user-page-container .edit-button:hover {
  background-color: #fff;
  color: #1f1f1f;
}

/* Responsive */
@media (min-width: 768px) {
  .user-page-container table {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .user-page-container table {
    max-width: 900px;
  }

  #category {
    display: table-cell;
  }
}

@media (min-width: 1200px) {
  .user-page-container table {
    max-width: 1100px;
  }
}

@media (max-width: 480px) {
  .user-page-container table th,
  .user-page-container table td {
    padding: 8px 5px;
    font-size: 12px;
  }
}
